.main-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 80px;
    padding: 0 40px;
    background-color: #F2F2F2;
    z-index: 1000;
}

@media screen and (max-width: 1024px) {
    .main-head {
        left: 0;
        padding: 0 20px;
    }
}

.user-dropdown{
    width: 200px;
    height: 43px;
    margin-top: 10px;
    padding: 10px;
    background-color:white;
    border-radius: 20px;
}

.user-dropdown img{
    height: 40px;
    border-radius: 50px;
    margin-left: 5px;
}

.users{
    color: black;
    margin-top: -48px;
    margin-left: 60px;
}

.users p{
    margin: 1px;
    font-size: 14px;
}

.dropdown-menu{
    margin-top: 20px;
    padding: 12px;
    background-color: white;
    border-radius: 20px;
    z-index: 9999;
}

.user-info p{
    color: black;
}

.button-drop{
    margin-bottom: 15px;
    z-index: 9999;
}

.dropdown-button{
    margin-top: 15px;
    width: 130px;
    margin-left: 23px;
    z-index: 9999;
}